/**
 * CollectionIcon Styles
 */

.collection-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 1;
}

.collection-icon svg {
  display: block;
}
